@model CertiNet1.Models.CertificadoDigital

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CertificadoDigital</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEmissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEmissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstaAtivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstaAtivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.CPF_CNPJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.Categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agendamento.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
